* {
	box-sizing: border-box;
}
body {
	width: 1024px;
	margin: 2em auto;
	background: #eee;
}

header {
	width: 100%;
}

hr {
	border: none;
	background: #c52c2c;
	padding: 0.25em 0.25em 0;
	margin: 2em 0;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font: normal 500 2em Helvetica, Arial, sans-serif;
	color: #313234;
	padding: 0;
	margin: 0;
}

h1 {
	font: 100 2em Roboto, Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 0.75em;
}

h3 {
	text-transform: capitalize;
}

section {
	flex: 0 1 32%;
	text-align: center;
	color: #313234;
	margin-bottom: 1em;
}

section img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

span {
	font: 500 12pt Helvetica, Arial, sans-serif;
	color: inherit;
}

footer {
	font: normal 100 12pt Roboto, Helvetica, Arial, sans-serif;
	text-align: center;
	color: #5e6a7a;
	margin: 2em 0;
}

.logo {
	vertical-align: top;
	height: 150px;
}

.titulo {
	text-transform: uppercase;
	font-size: 2em;
	margin: 0.625em 0 0 0;
	display: inline-block;
	float: right;
	color: #313234;
	text-align: right;
}

.figure-destaque {
	margin: 0 0 2em 0;
}

.destaque {
	width: 100%;
}

.titulo-trabalhos {
	color: #c52c2c;
	font-weight: inherit;
	margin: 0.5em;
}

/* consultado: https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/ */
.section-itens {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}