* {
	box-sizing: border-box;
}
body {
	width: 1024px;
	margin: 1em auto;
}

hr {
	border: none;
	color: #7d97ad;
	background: #7d97ad;
	padding: 0.25em 0.25em 0 0;
	margin: 2em 0 2em 0;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font: normal 500 2em Helvetica, Arial, sans-serif;
	color: #2d3c49;
	padding: 0;
	margin: 0;
}

h1 {
	font: 100 2em Roboto, Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 0.75em;
}

h3 {
	text-transform: capitalize;
}


.header-interno {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.figure-destaque {
	margin: 0 0 2em 0;
}

.logo {
  vertical-align: top;
}

.destaque {
	width: 100%;
}

.titulo {
  text-transform: uppercase;
  font-size: 2em;
  margin: 0.625em 0 0 0;
  display: inline-block;
  float: right;
  color: #212121;
  text-align: right;
}

.clearfix {
  overflow: auto;
}

article {
	width: 100%;
}

.titulo-trabalhos {
	color: #7d97ad;
	font-weight: inherit;
	margin: 0.5em;
}

/* créditos pelo layout dos itens: https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/ */
.section-itens {
	display: flex;
   justify-content: space-between;
}

section {
	flex: 0 1 32%;
	text-align: center;
	color: #2d3c49;

}

section img {
	width: 100%;
}

a {
	font: 500 10pt Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: inherit;
}
