@media screen and (max-width: 1048px) {
	body {
		width: 90%;
		margin: 2em 5%;
	}
}

@media screen and (max-width: 780px) {
	/* Trabalhos em destaque */
	.item {
		flex: 0 1 49%;
	}
}

@media screen and (max-width: 650px) {
	/* Header */
	.logo {
		display: block;
		margin: auto;
	}

	.titulo {
		font-size: 2em;
		float: initial;
		margin: auto;
		display: block;
		text-align: center;
	}

	/* Trabalhos em destaque */
	.item {
		flex: 0 1 100%;
	}
}

@media screen and (max-width: 400px) {
	/* Header */
	.logo {
		height: 100px;
	}

	.titulo {
		font-size: 1.5em;
	}

	/* Trabalhos em destaque */
	.trabalhos {
		font-size: 1.25em;
		text-align: center;
	}

	h4 {
		font-size: 1.5em;
	}
}